const Env = use('Env')

module.exports = {
    credentials: { 
        username: Env.get('CASS_USERNAME', 'admin'), 
        passsword: Env.get('CASS_PASSWORD', 'admin'), 
    }
    contactPoints: [ Env.get('CASS_HOST', 'localhost') ],
    localDataCenter: Env.get('CASS_DATACENTER', 'datacenter1') ,
};
